{% extends 'base.html' %}
{% block content %}
<div class="columns">
  <div class="column is-offset-3 is-6">
    <a href="{{ url_for('contactos.nuevo_contacto') }}" class="button is-link"><i class="fa-solid fa-plus"></i>
      &nbsp;
      Nuevo contacto</a>
    <br><br>
    {% for c in contactos %}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://icons.veryicon.com/png/o/business/multi-color-financial-and-business-icons/user-139.png"
                alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ c.nombre }}</p>
            <p class="subtitle is-6">Email: {{ c.correo }} <br>Tel: {{ c.telefono }}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{ url_for('contactos.editar_contacto', id=c.id) }}"" class=" card-footer-item">Editar</a>
          <a href="{{ url_for('contactos.eliminar_contacto', id=c.id) }}" class="card-footer-item">Eliminar</a>
        </footer>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}